{% extends 'base.html' %}
{% block posts %}
  <p class="title">{% block title %}{{post['username']}}'s Post{% endblock %}</p>
{% endblock %}

{% block content %}
<article class="post">
        <div class="body">
            <h2>{{ post['title'] }}</h2>
            <p class="about">by {{ post['username'] }} on {{ post['created'].strftime("%B %d, %Y, %I:%M %p") }}</p>
            <br>
            <br>
            <p class="body">{{ post['body'] }}</p>
        </div>
</article>
    <div class="opt">
        {% if g.user %}
            {% if [post['id'],g.user['id']] in g.liked %}
                <a href="{{ url_for('blog.like_action', post_id=post.id, action='unlike') }}">
                    <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-heart"></i></span>
                    <span class="item">Unlike</span>
                </a>
            {% else %}
                <a href="{{ url_for('blog.like_action', post_id=post.id, action='like') }}">
                    <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-heart"></i></span>
                    <span class="item">Like {{ like }}</span>
                </a>
            {% endif %}
        {% else %}
        <span class="icon">&nbsp&nbsp&nbspLikes: <i class="fas fa-heart"></i></span>
        {% endif %}
        <p>{{ post['likes'] }}</p>
        <a>
            <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-comment"></i></span>
            <span class="item">Comments &nbsp&nbsp&nbsp{{ post.comments }}</span>
        </a>
        {% if g.user %}
        {% if action == 'view' %}
        <a href="{{ url_for('blog.comments', post_id=post.id,action='add') }}">
            <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-plus"></i></span>
            <span class="item">Add Comment</span>
        </a>
        {% else %}
        <a href="{{ url_for('blog.comments', post_id=post.id,action='view') }}">
            <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-times"></i></span>
            <span class="item">Cancel</span>
        </a>
        {% endif %}
        {% endif %}
    </div>
{% if action == 'add' %}
<div class="form">
  <form method="post">
    <label for="body">Comment as {{ g.user['username'] }}: </label>
    <textarea class="com" name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Comment">
  </form>
  </div>
{% else %}
{% for comm in comms %}
<article class="comment">
    <div class="body">
        <p class="about">{{comm.username}} commented on {{comm.created.strftime("%B %d, %Y, %I:%M %p")}}: </p>
        <br>
        <br>
        <p>{{comm.body}}</p>
    </div>
</article>
{% if g.user['id'] == comm['user_id'] %}
<a href="{{ url_for('blog.comment_action', comment_id=comm.id, action='delete') }}">
    <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-trash"></i></span>
    <span class="item">Delete Comment</span>
</a>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
