{% extends 'base.html' %}

{% block posts %}
  <p class="title">{% block title %}Posts{% endblock %}</p>
{% endblock %}
{% block content %}
  {% for post in posts %}
    <article class="post">
        <div class="body">
            <h2>{{ post['title'] }}</h2>
            <p class="about">by {{ post['username'] }} on {{ post['created'].strftime("%B %d, %Y, %I:%M %p") }}</p>
            <br>
            <br>
            <p class="body">{{ post['body'] }}</p>
        </div>
    </article>
    <div class="opt">
        {% if g.user %}
            {% if [post['id'],g.user['id']] in g.liked %}
                <a class="unlike" href="{{ url_for('blog.like_action', post_id=post.id, action='unlike') }}">
                    <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-heart"></i></span>
                    <span class="item">Unlike</span>
                </a>
            {% else %}
                <a class="like" href="{{ url_for('blog.like_action', post_id=post.id, action='like') }}">
                    <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-heart"></i></span>
                    <span class="item">Like {{ like }}</span>
                </a>
            {% endif %}
        {% else %}
        <span class="icon">&nbsp&nbsp&nbspLikes: <i class="fas fa-heart"></i></span>
        {% endif %}
        <p>{{ post['likes'] }}</p>
        <a href="{{ url_for('blog.comments', post_id=post.id,action='view') }}">
            <span class="icon">&nbsp&nbsp&nbsp<i class="fas fa-comment"></i></span>
            <span class="item">Comments &nbsp&nbsp&nbsp{{ post.comments }}</span>
        </a>
        {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">
                        <span class="icon"><i class="fas fa-pen"></i></span>
                        <span class="item">Edit Post</span>
                    </a>
        {% endif %}
    </div>
  {% endfor %}
{% endblock %}
